.event-carousel {
    position: relative; /* Set relative positioning for the navigation buttons to work */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%; /* Set width to 100% of its parent */
}

.event-carousel .horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Ensures smooth scrolling and snap effect */
    padding: 10px 0;
}
  
.event-carousel .event-item {
    scroll-snap-align: start;
    flex: 0 0 calc(100% / 3); /* Adjust the 3 to show more or fewer items at once */
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Smooth transition for other animations */
}

.event-carousel .event-item:hover {
    background-color: #e2e6ea;
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.horizontal-scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.horizontal-scroll-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
}

.event-carousel .navigation-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute; /* Position the buttons absolutely within the carousel */
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none; /* This allows clicks to pass through to items below */
}

.event-carousel .navigation-buttons button {
    pointer-events: auto; /* This re-enables click events for the buttons */
    background: none;
    border: none;
    padding: 0 1rem; /* Add padding on the sides */
    cursor: pointer;
    color: #333; /* Change the color as per your design */
}

.event-carousel .navigation-buttons button:hover {
    color: #555; /* Change the hover color as per your design */
}

.event-carousel .navigation-buttons i {
    font-size: 1.5rem; /* Adjust the size of the arrow icons */
}
