@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-family: 'Satisfy', cursive;
}
/* body {
  background-color: rgb(0, 133, 0);
} */

/* body {
  background: url('/public/howdy-neighbor-background.png') repeat;
  height: 1rem;
} */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  position: relative;
}

body::before {
  content: '';
  /* background: url('/public/howdy-neighbor-background-2.png') repeat; */
  background: url('/public/background-trial-1.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

@layer utilities {
  .custom-shadow {
    box-shadow: 0px 0px 20px rgb(0, 26, 2); /* Adjust the values as needed */
  }
}

@layer utilities {
  .custom-button-shadow {
    box-shadow: 0px 0px 10px rgb(23, 134, 1); /* Adjust the values as needed */
  }
}

@layer utilities {
  .custom-shadow-2 {
    box-shadow: 0px 0px 5px rgb(0, 26, 2); /* Adjust the values as needed */
  }
}

@layer utilities {
  .custom-border-radius {
    border-radius: 100px; /* Example value, adjust as needed */
  }
}

@layer utilities {
  .button-style {
    background-color: white; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to a hand symbol when hovered */
    transition: background-color 0.3s; /* Smooth transition for background color */
    font-size: 16px; /* Consistent font size */
    line-height: 1.5; /* Consistent line height */
    display: inline-block; /* Allows applying padding and height */
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Consistent box sizing */
    box-shadow: 1px 1px 1px black;
  }

  .submit-button {
    background-color: #4CAF50; /* Green background */
  }

  .submit-button:hover {
    background-color: #45a049; /* Darker green background on hover */
    transform: scale(1.05);
  }

  .cancel-button {
    background-color: #f44336; /* Red background */
  }

  .cancel-button:hover {
    background-color: #d32f2f; /* Darker red background on hover */
    transform: scale(1.05);
  }
}